.form-container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.form-title {
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}
.input-group label {
    display: block;
    margin-left: 5px;
}
.input-group input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 25px;
    margin-bottom: 25px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background-color:#f8dbb0;
    border: none;
    border-radius: 7px;
    font-size: 25px;
}
.form-submit:hover {
    cursor:pointer;
}
.form-link {
    color: #FF9900;
    border: none;
    text-decoration: none;
}